.nav-wrapper{
    background-color: rgb(34, 31, 31);
}
.slid{
    margin-left: 30px;
    font-family: 'Krona One', sans-serif;
    font-size:40px;
}
.slider .indicators .indicator-item.active{
    background-color: rgb(148, 145, 145);
}

.footer-one{
    background-color: black;
}

.footer-two{
    background-color: rgb(3, 0, 0);
}
.sponsers{
    /* background-color:rgb(88, 176, 235); */
}
h4{
    color: rgb(2, 0, 0);
    text-align: center;
    padding-top:50px;
}
.sponsers .carousel{
    height: 300px;
}
.move{
    margin-top:4px;
}
.about{
    margin-right: 500px;
}
